<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <form action="/admin" method="POST">
        <label for="admin">Are you definitely an admin? (don't lie)</label>
        <input type="checkbox" name="admin" />
        <button>Enter</button>
      </form>
</body>
</html>