<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to members only</h1>
  <a href="/log-in">Log in</a>
  <a href="/sign-up">Sign Up</a>

</body>
</html>