<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="first_name">First Name</label>
    <input name="first_name" placeholder="Joe" type="text" />
    <label for="last_name">Last Name</label>
    <input name="last_name" placeholder="Bloggs" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>